body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  background: #001842;
  background-image: url(../img/background-img.png);
  background-size: contain;
}

.container-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 40px;
}

.navigation {
  opacity: 0.89;
  padding: 5px 10px;
  border-radius: 30px;
  margin: 0 5px;
  opacity: 1;
}

a {
  text-decoration: none;
}


.navigation,
.onglet {
  background-color: #0f3c65;
}

.navigation,
p {
  font-size: 18px;
}
}

img {
  display: block;
  max-width: 100%;
}
